:root{
    /* Primitive tokens (Please don't try to divide by 2)*/

    --size-1: 4px;
    --size-2: 8px;
    --size-3: 12px;
    --size-4: 16px;
    --size-5: 20px;
    --size-6: 24px;
    --size-7: 28px;
    --size-8: 32px;
    --size-9: 36px;
    --size-10: 40px;
    --size-11: 44px;
    --size-12: 48px;

    --red-0: #e2c6c6;
    --red-100: #e0b2b2;
    --red-200: #e2a1a1;
    --red-300: #e27f7f;
    --red-400: #e45353;
    --red-500: #ff0000;
    --red-600: #c91010;
    --red-700: #b10f0f;
    --red-800: #860f0f;
    --red-900: #630303;

    --blue-0: #c6cfe2;
    --blue-100: #b2b9d6;
    --blue-200: #a1aad2;
    --blue-300: #7f8ecb;
    --blue-400: #5373c3;
    --blue-500: #0059ff;
    --blue-600: #1047c9;
    --blue-700: #0f3ea9;
    --blue-800: #0f2e86;
    --blue-900: #031d63;

    --yellow-0: #e2dfc6;
    --yellow-100: #e0ddb2;
    --yellow-200: #e2daa1;
    --yellow-300: #e2d77f;
    --yellow-400: #e4d553;
    --yellow-500: #fbff00;
    --yellow-600: #c9cc10;
    --yellow-700: #a9ab0f;
    --yellow-800: #86870f;
    --yellow-900: #9e9e0a;

    --gray-0: #f7f7f7;
    --gray-100: #e0e0e0;
    --gray-200: #c8c8c8;
    --gray-300: #b1b1b1;
    --gray-400: #999999;
    --gray-500: #828282;
    --gray-600: #6b6b6b;
    --gray-700: #535353;
    --gray-800: #3c3c3c;
    --gray-900: #262626;



    /* Semantically OP tokens */

    --color-primary: var(--blue-500);
    --color-secondary: var(--yellow-500);
    --color-destructive: var(--red-500);
    --color-gray: var(--gray-500);

    --color-primary-hover: var(--blue-600);
    --color-primary-focus: var(--blue-700);
    --color-primary-press: var(--blue-800);
    --color-primary-disabled: var(--blue-900);

    --color-secondary-hover: var(--yellow-600);
    --color-secondary-focus: var(--yellow-700);
    --color-secondary-press: var(--yellow-800);
    --color-secondary-disabled: var(--yellow-900);

    --color-destructive-hover: var(--red-600);
    --color-destructive-focus: var(--red-700);
    --color-destructive-press: var(--red-800);
    --color-destructive-disabled: var(--red-900);

    --color-gray-hover: var(--gray-600);
    --color-gray-focus: var(--gray-700);
    --color-gray-press: var(--gray-800);
    --color-gray-disabled: var(--gray-900);


    /* Specific tokens go brrrrrr*/

    --btn-px-small: var(--size-2);
    --btn-py-small: var(--size-2);
    --btn-px-medium: var(--size-3);
    --btn-py-medium: var(--size-3);
    --btn-px-large: var(--size-5);
    --btn-py-large: var(--size-5);

    --btn-text-size-small: var(--size-3);
    --btn-text-size-medium: var(--size-4);
    --btn-text-size-large: var(--size-5);


/* -------------Filled-------------- */
    --btn-filled-primary-default-surface: var(--color-primary);
    --btn-filled-secondary-default-surface: var(--color-secondary);
    --btn-filled-destructive-default-surface: var(--color-destructive);
    --btn-filled-gray-default-surface: var(--color-gray);

    --btn-filled-primary-hover-surface: var(--color-primary-hover);
    --btn-filled-secondary-hover-surface: var(--color-secondary-hover);
    --btn-filled-destructive-hover-surface: var(--color-destructive-hover);
    --btn-filled-gray-hover-surface: var(--color-gray-hover);

    --btn-filled-primary-focus-surface: var(--color-primary-focus);
    --btn-filled-secondary-focus-surface: var(--color-secondary-focus);
    --btn-filled-destructive-focus-surface: var(--color-destructive-focus);
    --btn-filled-gray-focus-surface: var(--color-gray-focus);

    --btn-filled-primary-press-surface: var(--color-primary-press);
    --btn-filled-secondary-press-surface: var(--color-secondary-press);
    --btn-filled-destructive-press-surface: var(--color-destructive-press);
    --btn-filled-gray-press-surface: var(--color-gray-press);

    --btn-filled-primary-disabled-surface: var(--color-primary-disabled);
    --btn-filled-secondary-disabled-surface: var(--color-secondary-disabled);
    --btn-filled-destructive-disabled-surface: var(--color-destructive-disabled);
    --btn-filled-gray-disabled-surface: var(--color-gray-disabled);


/* -------------Outline-------------- */
    --btn-outline-primary-default-surface: var(--color-primary);
    --btn-outline-secondary-default-surface: var(--color-secondary);
    --btn-outline-destructive-default-surface: var(--color-destructive);
    --btn-outline-gray-default-surface: var(--color-gray);

    --btn-outline-primary-hover-surface: var(--color-primary-hover);
    --btn-outline-secondary-hover-surface: var(--color-secondary-hover);
    --btn-outline-destructive-hover-surface: var(--color-destructive-hover);
    --btn-outline-gray-hover-surface: var(--color-gray-hover);

    --btn-outline-primary-focus-surface: var(--color-primary-focus);
    --btn-outline-secondary-focus-surface: var(--color-secondary-focus);
    --btn-outline-destructive-focus-surface: var(--color-destructive-focus);
    --btn-outline-gray-focus-surface: var(--color-gray-focus);

    --btn-outline-primary-press-surface: var(--color-primary-press);
    --btn-outline-secondary-press-surface: var(--color-secondary-press);
    --btn-outline-destructive-press-surface: var(--color-destructive-press);
    --btn-outline-gray-press-surface: var(--color-gray-press);

    --btn-outline-primary-disabled-surface: var(--color-primary-disabled);
    --btn-outline-secondary-disabled-surface: var(--color-secondary-disabled);
    --btn-outline-destructive-disabled-surface: var(--color-destructive-disabled);
    --btn-outline-gray-disabled-surface: var(--color-gray-disabled);
}