:root{
    /* Primitive tokens */
    --size-1: 4px;
    --size-2: 8px;
    --size-3: 12px;
    --size-4: 16px;
    --size-5: 20px;
    --size-6: 24px;
    --size-7: 28px;
    --size-8: 30px;

    --red-0: #e2c6c6;
    --red-500: #ff0000;
    --red-900: #630303;

    --blue-0: #c6cfe2;
    --blue-500: #0059ff;
    --blue-900: #031d63;

    --yellow-0: #e2dfc6;
    --yellow-500: #fbff00;
    --yellow-900: #9e9e0a;

    --grey-0: #b3b1a8;
    --grey-500: #86867a;
    --grey-900: #363636;

    /* Specific tokens (And semantic too I suppose)*/
    --color-primary: var(--blue-500);
    --color-secondary: var(--yellow-500);
    --color-destructive: var(--red-500);
    --color-grey: var(--grey-500);

    --btn-padding-small: var(--size-1);
    --btn-padding-medium: var(--size-2);
    --btn-padding-large: var(--size-3);
    --btn-text-size-small: var(--size-2);
    --btn-text-size-medium: var(--size-3);
    --btn-text-size-large: var(--size-4);

    --btn-surface-primary: var(--color-primary);
    --btn-surface-secondary: var(--color-secondary);
    --btn-surface-destructive: var(--color-destructive);
    --btn-surface-grey: var(--color-grey);
}

/* We do be sizing I guess */
.button-small{
    font-size: var(--btn-text-size-small);
    padding: var(--btn-padding-small);
}

.button-meduim{
    font-size: var(--btn-text-size-medium);
    padding: var(--btn-padding-medium);
}

.button-large{
    font-size: var(--btn-text-size-large);
    padding: var(--btn-padding-large);
}

/* Colors lul */
.button-primary{
    background-color: var(--btn-surface-primary);
}

.button-secondary{
    background-color: var(--btn-surface-secondary);
}

.button-destructive{
    background-color: var(--btn-surface-destructive);
}

.button-grey{
    background-color: var(--btn-surface-grey);
}