@import '../../../src/global-styling/design-tokens.css';


.btn-small{
    font-size: var(--btn-text-size-small);
    padding: var(--btn-padding-small);
}

.btn-medium{
    font-size: var(--btn-text-size-medium);
    padding: var(--btn-padding-medium);
}

.btn-large{
    font-size: var(--btn-text-size-large);
    padding: var(--btn-padding-large);
}


/* -------Variants------- */

/* Filled */

.btn-filled-primary{
    background-color: var(--btn-filled-primary-default-surface);
    border: 2px solid var(--btn-filled-primary-default-surface);
}

.btn-filled-secondary{
    background-color: var(--btn-filled-secondary-default-surface);
    border: 2px solid var(--btn-filled-secondary-default-surface);
}

.btn-filled-destructive{
    background-color: var(--btn-filled-destructive-default-surface);
    border: 2px solid var(--btn-filled-destructive-default-surface);
}

.btn-filled-gray{
    background-color: var(--btn-filled-gray-default-surface);
    border: 2px solid var(--btn-filled-gray-default-surface);
}

/* Outline */

.btn-outline-primary{
    border: 2px solid var(--btn-outline-primary-default-border);
    background-color: transparent;
}

.btn-outline-secondary{
    border: 2px solid var(--btn-outline-secondary-default-border);
    background-color: transparent;
}

.btn-outline-destructive{
    border: 2px solid var(--btn-outline-destructive-default-border);
    background-color: transparent;
}

.btn-outline-gray{
    border: 2px solid var(--btn-outline-gray-default-border);
    background-color: transparent;
}

/* Text */

.btn-text-primary, .btn-text-secondary, .btn-text-destructive, .btn-text-gray{
    border: 2px solid transparent;
    background-color: transparent;
}

/* ------- States ------- */
.btn-default-primary{
    
}